<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Contact form Acseo{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
<body>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ include('navbar/adminNavbar.html.twig') }}
{% else %}
    {{ include('navbar/navbar.html.twig') }}
{% endif %}

{{ include('_flashbag.html.twig') }}

{% block body %}{% endblock %}
</body>
</html>
